@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
}

#hero {
    background: rgb(0,39,44);
    background: linear-gradient(0deg, rgb(30, 30, 30) 0%, rgb(17, 17, 17) 70%, rgb(15, 15, 15) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3, h5 {
    text-transform: uppercase;
    margin: 1px;
    padding-left: 1rem;
    user-select: none;
    opacity: 0;
    font-weight: 200;
    animation: fadein 2.5s 0.2s forwards;
    text-align: center;
    text-shadow: 0 0 2px #00ac6a;
}

#hero a {
    position: absolute;
    top: 90%;
}

a i {
    margin-top: 15px;
    font-size: 2rem;
    color: whitesmoke;
    opacity: 0;
    animation: arrow 0.8s ease 2.8s infinite;
}

@keyframes fadein {

    0% {
        overflow-y: hidden;
        opacity: 0;
        letter-spacing: -4px;
        color: transparent;
    }
    100% {
        overflow-y: auto;
        opacity: 0.8;
        letter-spacing: 14px;
        color: #00ac6a;
    }

}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
        transform: translateY(20px;)
    }
}

#projects {
    background: rgb(230,230,230);
    background: linear-gradient(180deg, rgb(230, 230, 230) 0%, rgb(200, 200, 200) 100%);
}

h1 {
    color: #00ac6a;
    text-transform: uppercase;
    letter-spacing: 8px;
    opacity: 0.7;
    text-align: center;
    margin-top: 10vh;
}

#projects-container {
    margin-top: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects-item {
    width: 400px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-item img {
    width: 350px;
    opacity: 0.8;
    transition: all 0.6s ease;
}

.projects-item img:hover {
    opacity: 1;
    cursor: pointer;
    transform:scale(1.1);
}