@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#hero {
    background-color: #00272c;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00ac6a;
}

h3, h5 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin: 1px;
    user-select: none;
    opacity: 0;
    animation: fadein 2.5s 0.2s forwards;
}

@keyframes fadein {

    0% {
        opacity: 0;
        letter-spacing: -4px;
    }
    100% {
        opacity: 0.75;
        letter-spacing: 14px;
    }

}