@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
}

#hero {
    background: rgb(0, 205, 228);
    background: linear-gradient(0deg, rgb(0, 205, 228) 0%,  #0CA4FA 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h3, #hero h5 {
    text-transform: uppercase;
    margin: 1px;
    padding-left: 1rem;
    user-select: none;
    opacity: 0;
    font-weight: 300;
    animation: fadein 2.5s 0.2s forwards;
    text-align: center;
    text-shadow: 0 0 2px whitesmoke;
    z-index: 2;
}

#hero h3 {
    font-size: 1.6rem
}

#hero h5 {
    font-size: 1.25rem;
}

#hero a {
    position: absolute;
    top: 90%;
}

#arrow {
    z-index: 1;
}

#arrow i {
    margin-top: 15px;
    font-size: 2rem;
    color: whitesmoke;
    opacity: 0;
    animation: arrow 0.8s ease 2.8s infinite;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.75;
}

@keyframes fadein {

    0% {
        overflow-y: hidden;
        opacity: 0;
        letter-spacing: -4px;
        color: transparent;
    }
    100% {
        overflow-y: auto;
        opacity: 0.9;
        letter-spacing: 14px;
        color: whitesmoke;
    }

}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(20px;)
    }
}

#projects {
    background: white;
    position: relative;
}

.custom-shape-divider-top-1617530289 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1617530289 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1617530289 .shape-fill {
    fill: rgb(0, 205, 228);
}

h1 {
    color: rgb(0, 197, 219);
    text-transform: uppercase;
    letter-spacing: 8px;
    opacity: 0.9;
    text-align: center;
    margin-top: 10vh;
    user-select: none;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    font-weight: 500;
}

#projects-container {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects-item {
    width: 365px;
    height: 242px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.projects-item img {
    width: 300px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 19;
    margin-top: 20px;
    opacity: 0.9;
    border-radius: 3px;
}

.projects-item img:hover {
    cursor: pointer;
}

.projects-item a {
    width: 330px;
    position: absolute;
    transform: translateY(80px);
    z-index: 0;
    visibility: hidden;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    padding: 5px 0;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.2s;
}

.projects-item a:nth-of-type(1) {
    background-color: #0CA4FA;
    z-index: 1;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.6);
}

.projects-item a:nth-of-type(2) {
    background-color: rgb(0, 205, 228);
}

.projects-item:hover a:nth-of-type(1) {
    animation: slidein 0.3s ease 0.1s forwards;
}

.projects-item:hover a:nth-of-type(2) {
    animation: slidein2 0.3s ease 0.2s forwards;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.projects-item a:nth-of-type(1):hover {
    color: #0CA4FA;
    background-color: whitesmoke;
    transition: all 0.2s;
}

.projects-item a:nth-of-type(2):hover {
    color: rgb(0, 205, 228);
    background-color: whitesmoke;
    transition: all 0.2s;
}

.projects-item:hover img {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,1);
}

.projects-item a i {
    transform: translate(5px, 2px);
}

@keyframes slidein {
    0% {
        visibility: hidden;
        transform: translateY(80px);
    }
    40% {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
        transform: translateY(174px);
    }
}

@keyframes slidein2 {
    0% {
        visibility: hidden;
        transform: translateY(80px);
    }
    40% {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
        transform: translateY(200px);
    }
}

#contact {
    background: rgb(0, 205, 228);
    background: linear-gradient(180deg, rgb(0, 205, 228) 0%,  #0CA4FA 100%);
    position: relative;
}

.custom-shape-divider-bottom-1617541298 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
}

.custom-shape-divider-bottom-1617541298 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
    transform: rotateY(180deg);
    z-index: 5;
}

.custom-shape-divider-bottom-1617541298 .shape-fill {
    fill: white;
    z-index: 5;
}

.contact-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,205,228,1);
    opacity: 0.2;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, rgba(0,205,228,1) 23px ), repeating-linear-gradient( #0CA4FA55, #0CA4FA );
}

.contact-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-container h1 {
    color: white;
    margin: 40px;
}

.skillset {
    background-color: rgba(white, white, white, 0.2);
    margin: 20px;
    text-align: center;
}

.skillset i {
    transform: scale(4);
    margin: 40px;
}

.skillset i:nth-of-type(1){
    color: #e64c18;
}

.skillset i:nth-of-type(2){
    color: #1572b6;
}

.skillset i:nth-of-type(3){
    color: #f5de19;
}

.skillset i:nth-of-type(4){
    color: #6f44a5;
}

.skillset i:nth-of-type(5){
    color: #41b883;
}