@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
}

#hero {
    background: rgb(0,39,44);
    background: linear-gradient(180deg, rgba(0,39,44,1) 0%, rgba(0,43,48,1) 70%, rgba(0,65,74,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00ac6a;
}

h3, h5 {
    text-transform: uppercase;
    margin: 1px;
    padding-left: 1rem;
    user-select: none;
    opacity: 0;
    animation: fadein 2.5s 0.2s forwards;
    text-align: center;
}

#hero a {
    position: absolute;
    top: 90%;
}

a i {
    margin-top: 15px;
    font-size: 2rem;
    color: white;
    opacity: 0;
    animation: arrow 0.8s ease 2.8s infinite;
}

@keyframes fadein {

    0% {
        opacity: 0;
        letter-spacing: -4px;
    }
    100% {
        opacity: 0.9;
        letter-spacing: 14px;
    }

}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
        transform: translateY(20px;)
    }
}

#projects {
    background: rgb(0,39,44);
}
