@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
}

#hero {
    background: rgb(0, 45, 51);
    background: linear-gradient(0deg, rgb(0, 45, 51) 0%, rgb(19, 19, 19) 70%, rgb(15, 15, 15) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3, h5 {
    text-transform: uppercase;
    margin: 1px;
    padding-left: 1rem;
    user-select: none;
    opacity: 0;
    font-weight: 300;
    animation: fadein 2.5s 0.2s forwards;
    text-align: center;
    text-shadow: 0 0 2px #00ac6a;
    z-index: 2;
}

h3 {
    font-size: 1.6rem
}

h5 {
    font-size: 1.25rem;
}

#hero a {
    position: absolute;
    top: 90%;
}

#arrow {
    z-index: 1;
}

#arrow i {
    margin-top: 15px;
    font-size: 2rem;
    color: whitesmoke;
    opacity: 0;
    animation: arrow 0.8s ease 2.8s infinite;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.25;
}

@keyframes fadein {

    0% {
        overflow-y: hidden;
        opacity: 0;
        letter-spacing: -4px;
        color: transparent;
    }
    100% {
        overflow-y: auto;
        opacity: 0.9;
        letter-spacing: 14px;
        color: #00ac6a;
    }

}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.7;
    }
    60% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
        transform: translateY(20px;)
    }
}

#projects {
    background: rgb(241, 241, 241);
    background: linear-gradient(180deg, rgb(241, 241, 241) 0%, rgb(208, 208, 208) 100%);
    position: relative
}

.custom-shape-divider-top-1617530289 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1617530289 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1617530289 .shape-fill {
    fill: #002D33;
}

h1 {
    color: #00ac6a;
    text-transform: uppercase;
    letter-spacing: 8px;
    opacity: 0.7;
    text-align: center;
    margin-top: 10vh;
    user-select: none;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    font-weight: 400;
}

#projects-container {
    margin-top: 10vh;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects-item {
    width: 365px;
    height: 242px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.projects-item img {
    width: 300px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 19;
    box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.8);
    margin-top: 20px;
}

.projects-item img:hover {
    cursor: pointer;
}

.projects-item a {
    width: 330px;
    position: absolute;
    transform: translateY(80px);
    z-index: 0;
    visibility: hidden;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    padding: 5px 0;
    font-weight: 400;
    letter-spacing: 1px;
}

.projects-item a:nth-of-type(1) {
    background-color: rgb(0,39,44);
    z-index: 1;
}

.projects-item a:nth-of-type(2) {
    background-color: #00ac6a;
}

.projects-item:hover a:nth-of-type(1) {
    animation: slidein 0.3s ease 0.1s forwards;
}

.projects-item:hover a:nth-of-type(2) {
    animation: slidein2 0.3s ease 0.2s forwards;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.projects-item:hover img {
    transform: scale(1.1);
}

.projects-item a i {
    transform: translate(5px, 2px);
}

@keyframes slidein {
    0% {
        visibility: hidden;
        transform: translateY(80px);
    }
    40% {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
        transform: translateY(174px);
    }
}

@keyframes slidein2 {
    0% {
        visibility: hidden;
        transform: translateY(80px);
    }
    40% {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
        transform: translateY(200px);
    }
}

